In [2]:
import pandas as pd
df=pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
sample_text=df["Name"][0]

In [6]:
sample_text

'Braund, Mr. Owen Harris'

In [8]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

stop_words = stopwords.words("english")
print(stop_words)
from nltk.stem import WordNetLemmatizer
from nltk.stem import SnowballStemmer
from nltk import FreqDist
import matplotlib.pyplot as plt

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\amrut\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [9]:
text = "A boy and a girl were playing together. The boy had a collection of marbles. The girl has some sweets with her. The boy told the girl that he would give her all his marbles in exchange for the sweets with her. The girl agreed.The boy kept the most beautiful and the biggest marbles with him and gave her the remaining marbles. The girl gave him all her sweets as she promised. That night the girl slept peacefully. But the boy could not sleep as he kept wondering if the girl has hidden some sweets from him the way he had hidden the best marbles from her."
text = text.lower()

text

'a boy and a girl were playing together. the boy had a collection of marbles. the girl has some sweets with her. the boy told the girl that he would give her all his marbles in exchange for the sweets with her. the girl agreed.the boy kept the most beautiful and the biggest marbles with him and gave her the remaining marbles. the girl gave him all her sweets as she promised. that night the girl slept peacefully. but the boy could not sleep as he kept wondering if the girl has hidden some sweets from him the way he had hidden the best marbles from her.'

In [10]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize,sent_tokenize
block = "CSI-DYPIEMR is the Student Chapter of Computer Society of India in Dr.D. Y. Patil Pratishthan's Dr. D. Y. Patil Institute of Engineering,Management, and Research. Computer Society of India is a body of computer professionals in India. It was started on 6 March 1965 by a few computer professionals and has now grown to be the national body representing computer professionals. It has 72 chapters across India, 511 student branches, and 100,000 members."
print("This is word wise tokenization-:",'\n', nltk.word_tokenize(block), '\n')
print("-----------------------------------------------------------------------------'\n'")
print("This is sentence wise tokenization-:",'\n', nltk.sent_tokenize(block))

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\amrut\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

This is word wise tokenization-:
 ['CSI-DYPIEMR', 'is', 'the', 'Student', 'Chapter', 'of', 'Computer', 'Society', 'of', 'India', 'in', 'Dr.D', '.', 'Y.', 'Patil', 'Pratishthan', "'s", 'Dr.', 'D.', 'Y.', 'Patil', 'Institute', 'of', 'Engineering', ',', 'Management', ',', 'and', 'Research', '.', 'Computer', 'Society', 'of', 'India', 'is', 'a', 'body', 'of', 'computer', 'professionals', 'in', 'India', '.', 'It', 'was', 'started', 'on', '6', 'March', '1965', 'by', 'a', 'few', 'computer', 'professionals', 'and', 'has', 'now', 'grown', 'to', 'be', 'the', 'national', 'body', 'representing', 'computer', 'professionals', '.', 'It', 'has', '72', 'chapters', 'across', 'India', ',', '511', 'student', 'branches', ',', 'and', '100,000', 'members', '.']

-----------------------------------------------------------------------------'
'
This is sentence wise tokenization-:
 ['CSI-DYPIEMR is the Student Chapter of Computer Society of India in Dr.D.', "Y. Patil Pratishthan's Dr. D. Y. Patil Institute of Engineering,Management, and Research.", 'Computer Society of India is a body of computer professionals in India.', 'It was started on 6 March 1965 by a few computer professionals and has now grown to be the national body representing computer professionals.', 'It has 72 chapters across India, 511 student branches, and 100,000 members.']

In [11]:
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = stopwords.words('english')
print(stop_words)
token = nltk.word_tokenize(block)
cleaned_token = []
for word in token:
    if word not in stop_words:
        cleaned_token.append(word)
print("This is the unclean version-:",'\n', token, '\n')
print("----------------------------------------------------------------------'\n'")
print("This is the cleaned version-:",'\n', cleaned_token)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]
This is the unclean version-:
 ['CSI-DYPIEMR', 'is', 'the', 'Student', 'Chapter', 'of', 'Computer', 'Society', 'of', 'India', 'in', 'Dr.D', '.', 'Y.', 'Patil', 'Pratishthan', "'s", 'Dr.', 'D.', 'Y.', 'Patil', 'Institute', 'of', 'Engineering', ',', 'Management', ',', 'and', 'Research', '.', 'Computer', 'Society', 'of', 'India', 'is', 'a', 'body', 'of', 'computer', 'professionals', 'in', 'India', '.', 'It', 'was', 'started', 'on', '6', 'March', '1965', 'by', 'a', 'few', 'computer', 'professionals', 'and', 'has', 'now', 'grown', 'to', 'be', 'the', 'national', 'body', 'representing', 'computer', 'professionals', '.', 'It', 'has', '72', 'chapters', 'across', 'India', ',', '511', 'student', 'branches', ',', 'and', '100,000', 'members', '.']

----------------------------------------------------------------------'
'
This is the cleaned version-:
 ['CSI-DYPIEMR', 'Student', 'Chapter', 'Computer', 'Society', 'India', 'Dr.D', '.', 'Y.', 'Patil', 'Pratishthan', "'s", 'Dr.', 'D.', 'Y.', 'Patil', 'Institute', 'Engineering', ',', 'Management', ',', 'Research', '.', 'Computer', 'Society', 'India', 'body', 'computer', 'professionals', 'India', '.', 'It', 'started', '6', 'March', '1965', 'computer', 'professionals', 'grown', 'national', 'body', 'representing', 'computer', 'professionals', '.', 'It', '72', 'chapters', 'across', 'India', ',', '511', 'student', 'branches', ',', '100,000', 'members', '.']

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\amrut\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [12]:
from nltk.stem import PorterStemmer
stemmer = nltk.PorterStemmer()
words = ['rain', 'rained', 'raining', 'rains']
stemmed = [stemmer.stem(word) for word in words]
print(stemmed)

['rain', 'rain', 'rain', 'rain']

In [13]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')#data dependencies
nltk.download('omw-1.4')
lemmatizer = nltk.WordNetLemmatizer()
lemmatized = [lemmatizer.lemmatize(word) for word in cleaned_token]
print(lemmatized)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\amrut\AppData\Roaming\nltk_data...
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\amrut\AppData\Roaming\nltk_data...

['CSI-DYPIEMR', 'Student', 'Chapter', 'Computer', 'Society', 'India', 'Dr.D', '.', 'Y.', 'Patil', 'Pratishthan', "'s", 'Dr.', 'D.', 'Y.', 'Patil', 'Institute', 'Engineering', ',', 'Management', ',', 'Research', '.', 'Computer', 'Society', 'India', 'body', 'computer', 'professional', 'India', '.', 'It', 'started', '6', 'March', '1965', 'computer', 'professional', 'grown', 'national', 'body', 'representing', 'computer', 'professional', '.', 'It', '72', 'chapter', 'across', 'India', ',', '511', 'student', 'branch', ',', '100,000', 'member', '.']

In [14]:
from nltk import pos_tag
nltk.download('averaged_perceptron_tagger')
tagged = nltk.pos_tag(cleaned_token)
print(tagged)

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\amrut\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

[('CSI-DYPIEMR', 'JJ'), ('Student', 'NNP'), ('Chapter', 'NNP'), ('Computer', 'NNP'), ('Society', 'NNP'), ('India', 'NNP'), ('Dr.D', 'NNP'), ('.', '.'), ('Y.', 'NNP'), ('Patil', 'NNP'), ('Pratishthan', 'NNP'), ("'s", 'POS'), ('Dr.', 'NNP'), ('D.', 'NNP'), ('Y.', 'NNP'), ('Patil', 'NNP'), ('Institute', 'NNP'), ('Engineering', 'NNP'), (',', ','), ('Management', 'NNP'), (',', ','), ('Research', 'NNP'), ('.', '.'), ('Computer', 'NNP'), ('Society', 'NNP'), ('India', 'NNP'), ('body', 'NN'), ('computer', 'NN'), ('professionals', 'NNS'), ('India', 'NNP'), ('.', '.'), ('It', 'PRP'), ('started', 'VBD'), ('6', 'CD'), ('March', 'NNP'), ('1965', 'CD'), ('computer', 'NN'), ('professionals', 'NNS'), ('grown', 'VBP'), ('national', 'JJ'), ('body', 'NN'), ('representing', 'VBG'), ('computer', 'NN'), ('professionals', 'NNS'), ('.', '.'), ('It', 'PRP'), ('72', 'CD'), ('chapters', 'NNS'), ('across', 'IN'), ('India', 'NNP'), (',', ','), ('511', 'CD'), ('student', 'NN'), ('branches', 'NNS'), (',', ','), ('100,000', 'CD'), ('members', 'NNS'), ('.', '.')]

In [15]:
import pandas as pd
import sklearn as sk
import math

In [16]:
block_1 = "Our aim is to develop a good work culture among students, a culture where students from various technical backgrounds come together to teach,guide and collaborate with each other on various projects and grow together."
block_2 = "Keeping in mind the interest of the IT professionals and computer enthusiasts, CSI works towards making the profession an area of choice amongst all sections of the society. The promotion of Information Technology as a profession is the top priority of CSI today. To fulfill this objective,the CSI regularly organizes conferences, conventions, lectures, projects,and awards. And at the same time, it also ensures that regular training and skill updating are organized for the future IT professionals."
#split so each word have their own string
first_block = block_1.split(" ")
second_block = block_2.split(" ")
#join them to remove common duplicate words
total= set(first_block).union(set(second_block))
print(total)

{'good', 'conventions,', 'same', 'of', 'students', 'priority', 'with', 'profession', 'Our', 'among', 'aim', 'as', 'backgrounds', 'area', 'regular', 'lectures,', 'the', 'collaborate', 'To', 'from', 'awards.', 'fulfill', 'work', 'promotion', 'are', 'conferences,', 'computer', 'training', 'organized', 'where', 'that', 'develop', 'IT', 'is', 'a', 'The', 'today.', 'all', 'making', 'enthusiasts,', 'regularly', 'students,', 'teach,guide', 'And', 'objective,the', 'projects', 'ensures', 'future', 'works', 'time,', 'Keeping', 'interest', 'CSI', 'towards', 'updating', 'amongst', 'grow', 'other', 'an', 'skill', 'sections', 'to', 'professionals.', 'technical', 'at', 'mind', 'in', 'each', 'Technology', 'for', 'culture', 'professionals', 'projects,and', 'various', 'choice', 'society.', 'come', 'it', 'together.', 'this', 'together', 'organizes', 'Information', 'and', 'on', 'also', 'top'}

In [17]:
wordDictA = dict.fromkeys(total, 0)
wordDictB = dict.fromkeys(total, 0)
for word in first_block:
    wordDictA[word]+=1
for word in second_block:
    wordDictB[word]+=1

In [18]:
pd.DataFrame([wordDictA, wordDictB])

,good,"conventions,",same,of,students,priority,with,profession,Our,among,...,it,together.,this,together,organizes,Information,and,on,also,top
0,1,0,0,0,1,0,1,0,1,1,...,0,1,0,1,0,0,2,1,0,0
1,0,1,1,5,0,1,0,2,0,0,...,1,0,1,0,1,1,2,0,1,1

In [19]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
filtered_sentence = [w for w in wordDictA if not w in stop_words]
print(filtered_sentence)

['good', 'conventions,', 'students', 'priority', 'profession', 'Our', 'among', 'aim', 'backgrounds', 'area', 'regular', 'lectures,', 'collaborate', 'To', 'awards.', 'fulfill', 'work', 'promotion', 'conferences,', 'computer', 'training', 'organized', 'develop', 'IT', 'The', 'today.', 'making', 'enthusiasts,', 'regularly', 'students,', 'teach,guide', 'And', 'objective,the', 'projects', 'ensures', 'future', 'works', 'time,', 'Keeping', 'interest', 'CSI', 'towards', 'updating', 'amongst', 'grow', 'skill', 'sections', 'professionals.', 'technical', 'mind', 'Technology', 'culture', 'professionals', 'projects,and', 'various', 'choice', 'society.', 'come', 'together.', 'together', 'organizes', 'Information', 'also', 'top']

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\amrut\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [20]:
def computeTF(wordDict, doc):
    tfDict = {}
    corpusCount = len(doc)
    for word, count in wordDict.items():tfDict[word] = count/float(corpusCount)
    return(tfDict)
#running our sentences through the tf function:
tfFirst = computeTF(wordDictA, first_block)
tfSecond = computeTF(wordDictB, second_block)
tf = pd.DataFrame([tfFirst, tfSecond])
print(tf)

       good  conventions,      same        of  students  priority      with  \
0  0.029412      0.000000  0.000000  0.000000  0.029412  0.000000  0.029412
1  0.000000      0.013158  0.013158  0.065789  0.000000  0.013158  0.000000

   profession       Our     among  ...        it  together.      this  \
0    0.000000  0.029412  0.029412  ...  0.000000   0.029412  0.000000
1    0.026316  0.000000  0.000000  ...  0.013158   0.000000  0.013158

   together  organizes  Information       and        on      also       top
0  0.029412   0.000000     0.000000  0.058824  0.029412  0.000000  0.000000
1  0.000000   0.013158     0.013158  0.026316  0.000000  0.013158  0.013158

[2 rows x 87 columns]

In [21]:
def computeIDF(docList):
    idfDict = {}
    N = len(docList)
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for word, val in idfDict.items(): idfDict[word] = math.log10(N /(float(val) + 1))
    return(idfDict)

idfs = computeIDF([wordDictA, wordDictB])
idfs1 = pd.DataFrame([wordDictA, wordDictB])
print(idfs1)

   good  conventions,  same  of  students  priority  with  profession  Our  \
0     1             0     0   0         1         0     1           0    1
1     0             1     1   5         0         1     0           2    0

   among  ...  it  together.  this  together  organizes  Information  and  on  \
0      1  ...   0          1     0         1          0            0    2   1
1      0  ...   1          0     1         0          1            1    2   0

   also  top
0     0    0
1     1    1

[2 rows x 87 columns]

In [22]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items(): tfidf[word] = val*idfs[word]
    return(tfidf)
#running our two sentences through the IDF:
idfFirst = computeTFIDF(tfFirst, idfs)
idfSecond = computeTFIDF(tfSecond, idfs)
#putting it in a dataframe
idf= pd.DataFrame([idfFirst, idfSecond])
print(idf)

       good  conventions,      same        of  students  priority      with  \
0  0.008854      0.000000  0.000000  0.000000  0.008854  0.000000  0.008854
1  0.000000      0.003961  0.003961  0.019805  0.000000  0.003961  0.000000

   profession       Our     among  ...        it  together.      this  \
0    0.000000  0.008854  0.008854  ...  0.000000   0.008854  0.000000
1    0.007922  0.000000  0.000000  ...  0.003961   0.000000  0.003961

   together  organizes  Information       and        on      also       top
0  0.008854   0.000000     0.000000  0.017708  0.008854  0.000000  0.000000
1  0.000000   0.003961     0.003961  0.007922  0.000000  0.003961  0.003961

[2 rows x 87 columns]

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
#Make sure all words are in lowercase
version_1 = "Developing a competitive culture where the students polish technical and professional attributes, gain experience and learn new skills while upgrading the already present skillset. For those fledglings who have a zeal to build a strong profile and are hunting for their Ikigai, CSI provides ample opportunities for those individuals too."
version_2 = "Personalized career guidance, Regular Logic and aptitude building activities, Industrial level project collaboration, Building a network with active collaborations across the globe, Periodic member exclusive conferences and seminars, Created a community for sharing skills and knowledge"
#calling the TfidfVectorizer
vectorize= TfidfVectorizer()
#fitting the model and passing our sentences right away:
response= vectorize.fit_transform([version_1.lower(), version_2.lower()])

In [24]:
print(response)

  (0, 61)	0.13915271943780658
  (0, 31)	0.13915271943780658
  (0, 40)	0.13915271943780658
  (0, 4)	0.13915271943780658
  (0, 48)	0.13915271943780658
  (0, 18)	0.13915271943780658
  (0, 30)	0.13915271943780658
  (0, 58)	0.13915271943780658
  (0, 29)	0.13915271943780658
  (0, 7)	0.13915271943780658
  (0, 46)	0.13915271943780658
  (0, 54)	0.13915271943780658
  (0, 9)	0.13915271943780658
  (0, 60)	0.13915271943780658
  (0, 67)	0.13915271943780658
  (0, 28)	0.13915271943780658
  (0, 65)	0.13915271943780658
  (0, 23)	0.13915271943780658
  (0, 59)	0.27830543887561315
  (0, 24)	0.2970249178760062
  (0, 53)	0.13915271943780658
  (0, 44)	0.13915271943780658
  (0, 3)	0.13915271943780658
  (0, 62)	0.13915271943780658
  (0, 64)	0.13915271943780658
  :	:
  (1, 21)	0.16649349332910351
  (1, 37)	0.16649349332910351
  (1, 41)	0.16649349332910351
  (1, 26)	0.16649349332910351
  (1, 0)	0.16649349332910351
  (1, 13)	0.16649349332910351
  (1, 1)	0.16649349332910351
  (1, 66)	0.16649349332910351
  (1, 38)	0.16649349332910351
  (1, 12)	0.16649349332910351
  (1, 47)	0.16649349332910351
  (1, 35)	0.16649349332910351
  (1, 32)	0.16649349332910351
  (1, 2)	0.16649349332910351
  (1, 10)	0.33298698665820703
  (1, 6)	0.16649349332910351
  (1, 36)	0.16649349332910351
  (1, 49)	0.16649349332910351
  (1, 27)	0.16649349332910351
  (1, 11)	0.16649349332910351
  (1, 42)	0.16649349332910351
  (1, 24)	0.11846149176425531
  (1, 52)	0.11846149176425531
  (1, 5)	0.35538447529276596
  (1, 57)	0.11846149176425531