In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import matplotlib.pyplot as plt

In [22]:
df = pd.read_csv('covid_vaccine_statewise.csv')
df

,Updated On,State,Total Individuals Registered,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,Total Individuals Vaccinated,Total Doses Administered
0,16/01/2021,India,6943622.0,3455.0,2957.0,48276.0,0.0,23757.0,24517.0,2.0,579.0,47697.0,48276.0,48276
1,17/01/2021,India,7119567.0,8532.0,4954.0,58604.0,0.0,27348.0,31252.0,4.0,635.0,57969.0,58604.0,58604
2,18/01/2021,India,7150780.0,13611.0,6583.0,99449.0,0.0,41361.0,58083.0,5.0,1299.0,98150.0,99449.0,99449
3,19/01/2021,India,7423057.0,17855.0,7951.0,195525.0,0.0,81901.0,113613.0,11.0,3017.0,192508.0,195525.0,195525
4,20/01/2021,India,7555207.0,25472.0,10504.0,251280.0,0.0,98111.0,153145.0,24.0,3946.0,247334.0,251280.0,251280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3547,17/04/2021,West Bengal,7577053.0,366910.0,1943.0,7577053.0,1162663.0,4060679.0,3515521.0,853.0,953764.0,7785952.0,7577053.0,8739716
3548,18/04/2021,West Bengal,7593056.0,489171.0,2889.0,7593056.0,1171094.0,4069772.0,3522428.0,856.0,960216.0,7803934.0,7593056.0,8764150
3549,19/04/2021,West Bengal,7701111.0,604585.0,3414.0,7701111.0,1275030.0,4128110.0,3572137.0,864.0,986681.0,7989460.0,7701111.0,8976141
3550,20/04/2021,West Bengal,7830594.0,490740.0,2747.0,7830594.0,1379100.0,4198697.0,3631015.0,882.0,1007847.0,8201847.0,7830594.0,9209694
3551,21/04/2021,West Bengal,7934464.0,459350.0,2437.0,7934464.0,1461604.0,4254741.0,3678829.0,894.0,1026194.0,8369874.0,7934464.0,9396068

In [8]:
df.tail()

,Updated On,State,Total Individuals Registered,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,Total Individuals Vaccinated,Total Doses Administered
3547,17/04/2021,West Bengal,7577053.0,366910.0,1943.0,7577053.0,1162663.0,4060679.0,3515521.0,853.0,953764.0,7785952.0,7577053.0,8739716
3548,18/04/2021,West Bengal,7593056.0,489171.0,2889.0,7593056.0,1171094.0,4069772.0,3522428.0,856.0,960216.0,7803934.0,7593056.0,8764150
3549,19/04/2021,West Bengal,7701111.0,604585.0,3414.0,7701111.0,1275030.0,4128110.0,3572137.0,864.0,986681.0,7989460.0,7701111.0,8976141
3550,20/04/2021,West Bengal,7830594.0,490740.0,2747.0,7830594.0,1379100.0,4198697.0,3631015.0,882.0,1007847.0,8201847.0,7830594.0,9209694
3551,21/04/2021,West Bengal,7934464.0,459350.0,2437.0,7934464.0,1461604.0,4254741.0,3678829.0,894.0,1026194.0,8369874.0,7934464.0,9396068

In [23]:
df.head()

,Updated On,State,Total Individuals Registered,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,Total Individuals Vaccinated,Total Doses Administered
0,16/01/2021,India,6943622.0,3455.0,2957.0,48276.0,0.0,23757.0,24517.0,2.0,579.0,47697.0,48276.0,48276
1,17/01/2021,India,7119567.0,8532.0,4954.0,58604.0,0.0,27348.0,31252.0,4.0,635.0,57969.0,58604.0,58604
2,18/01/2021,India,7150780.0,13611.0,6583.0,99449.0,0.0,41361.0,58083.0,5.0,1299.0,98150.0,99449.0,99449
3,19/01/2021,India,7423057.0,17855.0,7951.0,195525.0,0.0,81901.0,113613.0,11.0,3017.0,192508.0,195525.0,195525
4,20/01/2021,India,7555207.0,25472.0,10504.0,251280.0,0.0,98111.0,153145.0,24.0,3946.0,247334.0,251280.0,251280

In [7]:
df.shape

(3552, 14)

In [9]:
df.isnull()

,Updated On,State,Total Individuals Registered,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,Total Individuals Vaccinated,Total Doses Administered
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3547,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3548,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3549,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3550,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3551,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [24]:
df.isnull().sum()

Updated On                             0
State                                  0
Total Individuals Registered           8
Total Sessions Conducted               7
Total Sites                            7
First Dose Administered                7
Second Dose Administered               7
Male(Individuals Vaccinated)           7
Female(Individuals Vaccinated)         7
Transgender(Individuals Vaccinated)    7
Total Covaxin Administered             7
Total CoviShield Administered          7
Total Individuals Vaccinated           7
Total Doses Administered               0
dtype: int64

In [28]:

df.drop(columns = ['State'])

,Updated On,Total Individuals Registered,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,Total Individuals Vaccinated,Total Doses Administered
0,16/01/2021,6943622.0,3455.0,2957.0,48276.0,0.0,23757.0,24517.0,2.0,579.0,47697.0,48276.0,48276
1,17/01/2021,7119567.0,8532.0,4954.0,58604.0,0.0,27348.0,31252.0,4.0,635.0,57969.0,58604.0,58604
2,18/01/2021,7150780.0,13611.0,6583.0,99449.0,0.0,41361.0,58083.0,5.0,1299.0,98150.0,99449.0,99449
3,19/01/2021,7423057.0,17855.0,7951.0,195525.0,0.0,81901.0,113613.0,11.0,3017.0,192508.0,195525.0,195525
4,20/01/2021,7555207.0,25472.0,10504.0,251280.0,0.0,98111.0,153145.0,24.0,3946.0,247334.0,251280.0,251280
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3547,17/04/2021,7577053.0,366910.0,1943.0,7577053.0,1162663.0,4060679.0,3515521.0,853.0,953764.0,7785952.0,7577053.0,8739716
3548,18/04/2021,7593056.0,489171.0,2889.0,7593056.0,1171094.0,4069772.0,3522428.0,856.0,960216.0,7803934.0,7593056.0,8764150
3549,19/04/2021,7701111.0,604585.0,3414.0,7701111.0,1275030.0,4128110.0,3572137.0,864.0,986681.0,7989460.0,7701111.0,8976141
3550,20/04/2021,7830594.0,490740.0,2747.0,7830594.0,1379100.0,4198697.0,3631015.0,882.0,1007847.0,8201847.0,7830594.0,9209694
3551,21/04/2021,7934464.0,459350.0,2437.0,7934464.0,1461604.0,4254741.0,3678829.0,894.0,1026194.0,8369874.0,7934464.0,9396068

In [10]:
df.describe()

,Total Individuals Registered,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,Total Individuals Vaccinated,Total Doses Administered
count,3.544000e+03,3.545000e+03,3545.000000,3.545000e+03,3.545000e+03,3.545000e+03,3.545000e+03,3545.000000,3.545000e+03,3.545000e+03,3.545000e+03,3.552000e+03
mean,1.965572e+06,1.320204e+05,3092.627645,1.658049e+06,2.614206e+05,8.665791e+05,7.912805e+05,189.788434,1.574140e+05,1.632591e+06,1.658049e+06,1.915687e+06
std,7.853042e+06,7.146332e+05,10475.815355,7.514886e+06,1.152397e+06,3.936042e+06,3.580064e+06,879.683624,7.454069e+05,7.640830e+06,7.514886e+06,8.641851e+06
min,7.420000e+02,1.000000e+00,1.000000,7.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000,0.000000e+00,7.000000e+00,7.000000e+00,0.000000e+00
25%,7.450200e+04,1.100000e+03,118.000000,2.332400e+04,0.000000e+00,1.077900e+04,1.103400e+04,0.000000,0.000000e+00,2.340800e+04,2.332400e+04,2.522775e+04
50%,3.749730e+05,7.346000e+03,668.000000,1.466950e+05,1.244100e+04,7.125500e+04,6.884800e+04,9.000000,2.290000e+02,1.541830e+05,1.466950e+05,1.644760e+05
75%,1.192318e+06,4.674300e+04,2396.000000,8.682440e+05,1.675860e+05,4.673650e+05,4.134050e+05,111.000000,7.040200e+04,8.214270e+05,8.682440e+05,1.041629e+06
max,1.116734e+08,1.078696e+07,124323.000000,1.116734e+08,1.797274e+07,5.821738e+07,5.344198e+07,14002.000000,1.179992e+07,1.178462e+08,1.116734e+08,1.296461e+08

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3552 entries, 0 to 3551
Data columns (total 14 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Updated On                           3552 non-null   object
 1   State                                3552 non-null   object
 2   Total Individuals Registered         3544 non-null   float64
 3   Total Sessions Conducted             3545 non-null   float64
 4   Total Sites                          3545 non-null   float64
 5   First Dose Administered              3545 non-null   float64
 6   Second Dose Administered             3545 non-null   float64
 7   Male(Individuals Vaccinated)         3545 non-null   float64
 8   Female(Individuals Vaccinated)       3545 non-null   float64
 9   Transgender(Individuals Vaccinated)  3545 non-null   float64
 10  Total Covaxin Administered           3545 non-null   float64
 11  Total CoviShield Administered        3545 non-null   float64
 12  Total Individuals Vaccinated         3545 non-null   float64
 13  Total Doses Administered             3552 non-null   int64
dtypes: float64(11), int64(1), object(2)
memory usage: 388.6+ KB

In [12]:
df.head(3552)

,Updated On,State,Total Individuals Registered,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,Total Individuals Vaccinated,Total Doses Administered
0,16/01/2021,India,6943622.0,3455.0,2957.0,48276.0,0.0,23757.0,24517.0,2.0,579.0,47697.0,48276.0,48276
1,17/01/2021,India,7119567.0,8532.0,4954.0,58604.0,0.0,27348.0,31252.0,4.0,635.0,57969.0,58604.0,58604
2,18/01/2021,India,7150780.0,13611.0,6583.0,99449.0,0.0,41361.0,58083.0,5.0,1299.0,98150.0,99449.0,99449
3,19/01/2021,India,7423057.0,17855.0,7951.0,195525.0,0.0,81901.0,113613.0,11.0,3017.0,192508.0,195525.0,195525
4,20/01/2021,India,7555207.0,25472.0,10504.0,251280.0,0.0,98111.0,153145.0,24.0,3946.0,247334.0,251280.0,251280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3547,17/04/2021,West Bengal,7577053.0,366910.0,1943.0,7577053.0,1162663.0,4060679.0,3515521.0,853.0,953764.0,7785952.0,7577053.0,8739716
3548,18/04/2021,West Bengal,7593056.0,489171.0,2889.0,7593056.0,1171094.0,4069772.0,3522428.0,856.0,960216.0,7803934.0,7593056.0,8764150
3549,19/04/2021,West Bengal,7701111.0,604585.0,3414.0,7701111.0,1275030.0,4128110.0,3572137.0,864.0,986681.0,7989460.0,7701111.0,8976141
3550,20/04/2021,West Bengal,7830594.0,490740.0,2747.0,7830594.0,1379100.0,4198697.0,3631015.0,882.0,1007847.0,8201847.0,7830594.0,9209694
3551,21/04/2021,West Bengal,7934464.0,459350.0,2437.0,7934464.0,1461604.0,4254741.0,3678829.0,894.0,1026194.0,8369874.0,7934464.0,9396068

In [13]:
df

,Updated On,State,Total Individuals Registered,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,Total Individuals Vaccinated,Total Doses Administered
0,16/01/2021,India,6943622.0,3455.0,2957.0,48276.0,0.0,23757.0,24517.0,2.0,579.0,47697.0,48276.0,48276
1,17/01/2021,India,7119567.0,8532.0,4954.0,58604.0,0.0,27348.0,31252.0,4.0,635.0,57969.0,58604.0,58604
2,18/01/2021,India,7150780.0,13611.0,6583.0,99449.0,0.0,41361.0,58083.0,5.0,1299.0,98150.0,99449.0,99449
3,19/01/2021,India,7423057.0,17855.0,7951.0,195525.0,0.0,81901.0,113613.0,11.0,3017.0,192508.0,195525.0,195525
4,20/01/2021,India,7555207.0,25472.0,10504.0,251280.0,0.0,98111.0,153145.0,24.0,3946.0,247334.0,251280.0,251280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3547,17/04/2021,West Bengal,7577053.0,366910.0,1943.0,7577053.0,1162663.0,4060679.0,3515521.0,853.0,953764.0,7785952.0,7577053.0,8739716
3548,18/04/2021,West Bengal,7593056.0,489171.0,2889.0,7593056.0,1171094.0,4069772.0,3522428.0,856.0,960216.0,7803934.0,7593056.0,8764150
3549,19/04/2021,West Bengal,7701111.0,604585.0,3414.0,7701111.0,1275030.0,4128110.0,3572137.0,864.0,986681.0,7989460.0,7701111.0,8976141
3550,20/04/2021,West Bengal,7830594.0,490740.0,2747.0,7830594.0,1379100.0,4198697.0,3631015.0,882.0,1007847.0,8201847.0,7830594.0,9209694
3551,21/04/2021,West Bengal,7934464.0,459350.0,2437.0,7934464.0,1461604.0,4254741.0,3678829.0,894.0,1026194.0,8369874.0,7934464.0,9396068

## Number of Person statewise vaccinated for first dose in India

In [16]:
df.groupby('State')['First Dose Administered'].sum()

State
Andaman and Nicobar Islands                 1.346603e+06
Andhra Pradesh                              1.167716e+08
Arunachal Pradesh                           4.312451e+06
Assam                                       4.589515e+07
Bihar                                       1.363895e+08
Chandigarh                                  3.544345e+06
Chhattisgarh                                1.102192e+08
Dadra and Nagar Haveli and Daman and Diu    1.409718e+06
Delhi                                       5.793644e+07
Goa                                         5.497478e+06
Gujarat                                     2.621423e+08
Haryana                                     7.072065e+07
Himachal Pradesh                            2.688306e+07
India                                       2.940476e+09
Jammu and Kashmir                           3.958096e+07
Jharkhand                                   6.967216e+07
Karnataka                                   1.766319e+08
Kerala                                      1.372571e+08
Ladakh                                      2.348643e+06
Lakshadweep                                 3.618010e+05
Madhya Pradesh                              1.704824e+08
Maharashtra                                 2.832728e+08
Manipur                                     4.843900e+06
Meghalaya                                   4.711711e+06
Mizoram                                     3.657672e+06
Nagaland                                    3.539868e+06
Odisha                                      1.183009e+08
Puducherry                                  3.441845e+06
Punjab                                      4.994887e+07
Rajasthan                                   2.754589e+08
Sikkim                                      3.806793e+06
Tamil Nadu                                  1.208303e+08
Telangana                                   6.269130e+07
Tripura                                     2.467540e+07
Uttar Pradesh                               2.685727e+08
Uttarakhand                                 3.555679e+07
West Bengal                                 2.345965e+08
Name: First Dose Administered, dtype: float64

## Number of Person statewise vaccinated for second dose in India

In [17]:
df.groupby('State')['Second Dose Administered'].sum()

State
Andaman and Nicobar Islands                    243995.0
Andhra Pradesh                               20533459.0
Arunachal Pradesh                             1152356.0
Assam                                         8301918.0
Bihar                                        21818777.0
Chandigarh                                     644173.0
Chhattisgarh                                 15780785.0
Dadra and Nagar Haveli and Daman and Diu       241484.0
Delhi                                        12753592.0
Goa                                           1095110.0
Gujarat                                      40522480.0
Haryana                                       8825619.0
Himachal Pradesh                              4562089.0
India                                       463420514.0
Jammu and Kashmir                             6839847.0
Jharkhand                                    11372418.0
Karnataka                                    25505189.0
Kerala                                       21184973.0
Ladakh                                         325359.0
Lakshadweep                                     84095.0
Madhya Pradesh                               25602469.0
Maharashtra                                  37692542.0
Manipur                                       1396956.0
Meghalaya                                     1374704.0
Mizoram                                        882781.0
Nagaland                                      1012183.0
Odisha                                       20184885.0
Puducherry                                     363637.0
Punjab                                        5936252.0
Rajasthan                                    40676263.0
Sikkim                                         624022.0
Tamil Nadu                                   13951733.0
Telangana                                    13883188.0
Tripura                                       3889444.0
Uttar Pradesh                                53289615.0
Uttarakhand                                   6977828.0
West Bengal                                  33789381.0
Name: Second Dose Administered, dtype: float64

# # Number of Females vaccinated

In [20]:
df['Female(Individuals Vaccinated)'].sum()

2805089294.0

In [21]:
df['Male(Individuals Vaccinated)'].sum()

3072022958.0